@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}

header{
    display: flex;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);

}
main{
    flex-grow: 1;
}


li {
    padding-left: 15px;
    padding-right: 15px;

}
a{
    color: rgb(220, 228, 227);
    text-decoration: none;
    font-weight: 900;
    text-shadow: 1px 3px 5px rgb(55, 7, 230);
}
a:hover{
    transition: 0.3s;
    color: rgb(49, 0, 33);
    
}

/* CLASES PARA NAVBAR*/

.contenedorNavbar{
    width: 95%;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    padding: 10px 50px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.linkNavbar{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;
}

/* CLASES PARA FOOTER */

.contenedorFooter{
    padding: 20px 50px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(2,0,36);
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
}

.linkFooter li{
    text-align: center;
    list-style: none;
    padding-top: 5px;
    color: rgb(220, 228, 227);
    font-weight: 900;
}

/* CLASES PARA LINKS*/

.contenedorLinks{
    display: flex;
    align-items: center;
    padding-top: 1%;
}

/* AQUI COMIENZA MAIN*/
/* PRIMER SECCION*/

.primerContenedorMain{
    margin-bottom: 3%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.textoPrincipal {
    text-align: center;
    opacity: 0;
    color: hsla(0, 25%, 92%, 0.9);
    text-shadow: 2px 2px 5px blueviolet;
    -webkit-text-stroke-color: 3px;
    -webkit-text-stroke-color: black;
    font: "Ubuntu", sans-serif;
    font-size: 200%;

    animation: aparecer 3s forwards;  
  }

  @keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

.resplandorImagen{
    box-shadow: 0px 0px 50px 10px rgb(2, 226, 226);
}

.espaciosLaterales{
    padding-left: 10%;
    padding-right: 10%;
}

/* SEGUNDA SECCION - CLASES PARA CARRUSEL */

.textoTituloCarrusel{
    color:rgb(10, 238, 238);
    text-shadow: 5px 3px 10px rgb(2, 2, 2);
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(4, 72, 77);
}
.textoParrafoCarrusel{
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(4, 136, 141);
    margin-bottom: 30%;
}


.centradoTextoTitulo{
    text-align: center;
    text-decoration: underline;
    margin-top: 3%;
    margin-bottom: 3%;
    color:rgb(10, 238, 238);
    text-shadow: 5px 3px 10px rgb(2, 2, 2);
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(4, 72, 77);
}
.centradoTextoTitulo2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3%;
    padding-top: 3%;
    color:rgb(255, 255, 255);
    text-shadow: 5px 3px 10px rgb(3, 2, 2);
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(79, 94, 95);
}

.centradoTexto{
    text-align: center;
    align-items: center;
}

/* TERCERA SECCION */

.segundoContenedorMain{
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8%;
}

.section0{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
}

.section3{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
}

/* ULTIMA SECCION */

.tercerContenedorMain{
    margin-bottom: 3%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tituloPlan{
    color: crimson;
    font-size: 50px;
    text-shadow: 2px 5px 3px rgb(22,147,165);
    -webkit-text-stroke-width: 1px;
}

.boton{
    background-color: rgb(214, 223, 223);
    border-radius: 50px;
    width: 30%;
    padding: 2%;
    box-shadow: 0px 0px 30px 5px rgb(3, 178, 247);
    -webkit-text-stroke-width: 1px;
}

.parrafoPlan{
    color: rgb(208, 216, 216);
    font-size: 20px;
    text-shadow: 2px 2px 1px darkblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
.animaPlan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animaPlan:hover {
    transform: scale(1.01);
    transition: 0.3s;
    box-shadow: 5px 10px 110px rgba(233, 229, 229, 0.3), 
                5px 10px 110px rgba(0, 252, 252, 0.3); 
}



/* VISTAS EN OTRAS RESOLUCIONES */

/* MEDIUM ≥768px */

@media screen and (min-width: 768px) and (max-width: 991px){
    li {
        padding-left: 8px;
        padding-right: 8px;
    
    }
    a{
        color: rgb(220, 228, 227);
        text-decoration: none;
        font-weight: 900;
        text-shadow: 1px 3px 5px rgb(55, 7, 230);
    }
    a:hover{
        transition: 0.3s;
        color: rgb(49, 0, 33);
        
    }

    .ajusteTamanio{
        width: 35%;
    }
    
    /* CLASES PARA NAVBAR*/
    
    .contenedorNavbar{
        width: 100%;
        text-align: center;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
    }
    
    .linkNavbar{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        font-size: 15px;
    }

    
    /* CLASES PARA FOOTER */
    
    .contenedorFooter{
        padding: 20px 15px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1.5fr 1fr;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
        column-gap: 1%;
    }
    
    .linkFooter li{
        text-align: center;
        list-style: none;
        padding-top: 5px;
        color: rgb(220, 228, 227);
        font-weight: 900;
    }
    
    /* CLASES PARA LINKS*/
    
    .contenedorLinks{
        display: flex;
        align-items: center;
        padding-top: 1%;
    }

    .linkFooter a{
        font-size: 13px;
    }

    .linkFooter h3{
        font-size: 20px;
    }

    .linkFooter img{
        width: 80%;
    }

    /*AQUI COMIENZA EL MAIN*/
    /*PRIMER SECCION*/

    .primerContenedorMain{
        margin-bottom: 3%;
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    
    .textoPrincipal {
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 3px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 100%;
        animation: aparecer 3s forwards;  
      }
    
      @keyframes aparecer{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
      }
    
    .resplandorImagen{
        box-shadow: 0px 0px 50px 10px rgb(2, 226, 226);
    }
    
    .espaciosLaterales{
        padding-left: 10%;
        padding-right: 10%;
    }
    
    
    /* CLASES PARA CARRUSEL */
    
    .textoTituloCarrusel{
        color:rgb(10, 238, 238);
        text-shadow: 5px 3px 10px rgb(2, 2, 2);
        font-size: 25px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(4, 72, 77);
    }
    .textoParrafoCarrusel{
        color: black;
        text-shadow: 1px 2px 1px rgb(2, 1, 1);
        font-size: 15px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(4, 136, 141);
        margin-bottom: 25%;
    }
    
   /*TERCERA SECCION*/
    
    .centradoTextoTitulo{
        text-align: center;
        text-decoration: underline;
        margin-top: 3%;
        margin-bottom: 3%;
        color:rgb(10, 238, 238);
        text-shadow: 5px 3px 10px rgb(2, 2, 2);
        font-size: 25px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(4, 72, 77);
    }
    .centradoTextoTitulo2{
        text-align: center;
        text-decoration: underline;
        margin-bottom: 3%;
        padding-top: 3%;
        color:rgb(255, 255, 255);
        text-shadow: 5px 3px 10px rgb(3, 2, 2);
        font-size: 25px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(79, 94, 95);
    }
    
    .centradoTexto{
        text-align: center;
        align-items: center;
    }

 
    
    .segundoContenedorMain{
        margin-top: 3%;
        margin-bottom: 15%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8%;
    }
    
    .section0{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-top: 0px;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    }
    
    .section3{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    }

    .alimento1{
        width: 50%;
        height: 60%;
    }

    .centradoTexto h6{
        font-size: 13px;
    }
    .centradoTexto h5{
        font-size: 15px;
    }
    .centradoTexto button{
        font-size: 10px;
    }
    
    /*ULTIMA SECCION */

    .tercerContenedorMain{
        margin-bottom: 3%;
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .tituloPlan{
        color: crimson;
        font-size: 30px;
        text-shadow: 2px 5px 3px rgb(22,147,165);
        -webkit-text-stroke-width: 1px;
    }
    
    .boton{
        background-color: rgb(214, 223, 223);
        border-radius: 50px;
        width: 30%;
        padding: 1%;
        box-shadow: 0px 0px 30px 5px rgb(3, 178, 247);
        -webkit-text-stroke-width: 1px;
    }
    
    .parrafoPlan{
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-shadow: 1px 1px 1px rgb(10, 10, 231);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(194, 6, 6);
        
    }
    .animaPlan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10%;
        overflow: hidden; /* Evita el scroll horizontal */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .animaPlan:hover {
        transform: scale(1.01); 
        transition: 0.3s;
        box-shadow: 5px 10px 110px rgba(233, 229, 229, 0.3),
                    5px 10px 110px rgba(0, 252, 252, 0.3); 
    }
    
}
@media screen and (max-width: 576px){

    li {
        padding-left: 5px;
        padding-right: 5px;
    
    }
    a{
        color: rgb(220, 228, 227);
        text-decoration: none;
        font-weight: 900;
        text-shadow: 1px 3px 5px rgb(55, 7, 230);
    }
    a:hover{
        transition: 0.3s;
        color: rgb(49, 0, 33);
        
    }
    
    /* CLASES PARA NAVBAR*/
    
    .contenedorNavbar{
        width: 100%;
        text-align: center;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
        padding: 20px 0px 5px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .linkNavbar{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        font-size: 13px;
        width: 95%;
        
    }
    
    /* CLASES PARA FOOTER */
    
    .contenedorFooter{
        padding: 50px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        gap:3%;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    }
    
    .linkFooter li{
        text-align: center;
        list-style: none;
        padding-top: 5px;
        color: rgb(220, 228, 227);
        font-weight: 900;
        
    }
    .linkFooter img{
        width: 100%;
    }
    .linkFooter{
        padding-left: 0px;
    }
    
    
    /* CLASES PARA LINKS*/
    
    .contenedorLinks{
        display: flex;
        justify-content: space-around;
        padding-top: 4%;
    }
    
    /* AQUI COMIENZA MAIN*/
    /* PRIMER SECCION*/
    
    .primerContenedorMain{
        margin-bottom: 3%;
        padding-top: 10%;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .textoPrincipal {
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 3px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 100%;
    
        animation: aparecer 3s forwards;  
      }
    
      @keyframes aparecer{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
      }
    
    .resplandorImagen{
        box-shadow: 0px 0px 50px 10px rgb(2, 226, 226);
    }
    
    .espaciosLaterales{
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 10%;
    }
    
    /* SEGUNDA SECCION - CLASES PARA CARRUSEL */
    
    .textoTituloCarrusel{
        color:rgb(10, 238, 238);
        text-shadow: 5px 3px 10px rgb(2, 2, 2);
        font-size: 20px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(4, 72, 77);
    }
    .textoParrafoCarrusel{
        color: rgb(218, 212, 212);
        text-shadow: 1px 1px 10px rgb(0, 0, 0);
        font-size: 10px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(6, 88, 99);
        margin-bottom: 12%;
    }

      /* TERCERA SECCION */  
    
    .centradoTextoTitulo{
        text-align: center;
        text-decoration: underline;
        margin-top: 3%;
        margin-bottom: 3%;
        color:rgb(10, 238, 238);
        text-shadow: 5px 3px 10px rgb(2, 2, 2);
        font-size: 20px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(4, 72, 77);
    }
    .centradoTextoTitulo2{
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10%;
        padding-top: 10%;
        color:rgb(255, 255, 255);
        text-shadow: 5px 3px 10px rgb(3, 2, 2);
        font-size: 20px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(79, 94, 95);
    }
    
    .centradoTexto{
        text-align: center;
        align-items: center;
    }
    .segundoContenedorMain .centradoTexto img{
        width: 40%;
        height: 60%;
    }
    .centradoTexto h6{
        font-size: 10px;
    }
    .centradoTexto h5{
        font-size: 15px;
    }
    .centradoTexto button{
        font-size: 10px;
    }
    
    .segundoContenedorMain{
        margin-top: 3%;
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2%;
    }

    .alimento1{
        margin-bottom: 3%;
    }
    
    .section0{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-top: 0px;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    }
    
    .section3{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background: rgb(2,0,36);
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    }
    
    /* ULTIMA SECCION */
    
    .tercerContenedorMain{
        margin-bottom: 3%;
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .tituloPlan{
        color: crimson;
        font-size: 20px;
        text-shadow: 2px 5px 3px rgb(22,147,165);
        -webkit-text-stroke-width: 1px;
    }
    
    .boton{
        background-color: rgb(214, 223, 223);
        border-radius: 40px;
        width: 50%;
        padding: 4%;
        box-shadow: 0px 0px 5px 5px rgb(3, 178, 247);
        -webkit-text-stroke-width: 1px;
    }
    
    .parrafoPlan{
        display: none;
        color: rgb(208, 216, 216);
        font-size: 20px;
        text-shadow: 2px 2px 1px darkblue;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        
    }
    .animaPlan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10%;
        overflow: hidden; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .animaPlan:hover {
        transform: scale(1.01); 
        transition: 0.3s;
        box-shadow: 5px 10px 110px rgba(233, 229, 229, 0.3), 
                    5px 10px 110px rgba(0, 252, 252, 0.3); 
    }
}

/*seccion quines somos*/
.seccionContenido {
    background-color: #1693A5;
}

.conteiner{
    text-align: center;
}
.conteiner h2{
    text-decoration: underline;    
    color: rgb(172, 177, 177);
    text-shadow: 5px 3px 10px rgb(2, 2, 2);
}
.imgprincipal {
    display: flex;
    justify-content: center;
  }
  
  .imgprincipal img {
    max-width: 100%;
    width: 50%; 
    
  }
  .accordion-button {
    background-color: #7ececa; /* $cian-500 */
    color: #070606;
    
  }
  .ubicacion{
    background-color: #1693A5;
  }
  .ubicacion h2{
    text-decoration: underline;    
    color: rgb(172, 177, 177);
    text-shadow: 5px 3px 10px rgb(2, 2, 2);
  }

  .contenedorubi {
    
        display: flex;
        flex-direction: column;
        align-items: center; 
  }
  
  .ubicacionmapa {
    flex-basis: 300px;
    margin: 10px;
  }
  
  .grupoMapas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .ubicacionmapa {
    margin: 0 10px;
  }

  /* Seccion Servicios */

  /*General*/
  /* #1 */
  .G1{
    background-image: url(../img/Servicios1.png);
    background-size: cover; 
    background-position: center;
    height: 400px;
    }

    /* #2 */
  .container {
    display: grid; 
    padding: 0px;
    grid-template-columns: repeat(2, 30% 70%);
    gap: 4%;
    margin: 0%;
    align-items: center;
    max-width: fit-content;
    width: 80%;
    }

    /* #3 */
    .TG0 {
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 3px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 300%;
        animation: aparecer 3s forwards;
        padding-right: 15px;
        margin-right: 5%;
        margin-top: 40%;
        padding-left: 15px;
    }  
    /* #4 */
    .TG1 {
        text-align: justify;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 3px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 150%;
        animation: aparecer 3s forwards;
        margin-right: 0%;
        margin-top: 20%;
        padding-right: 0px;
    }  

    /*Atencion Medica*/

    /* #5 */
    .AT1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       
        margin-bottom: 0%;
        margin-top: 0%;
        padding-top: 30px;
        padding-bottom: 30px;
        
       
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%); 
        height: 500%;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 1px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 100%;
        animation: aparecer 3s forwards;
    }
    /* #6 */
    .textoVet {
        display: flex;
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 1px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 100%;
        animation: aparecer 3s forwards;
        border: 0px;
        padding: 0%;
        margin-top: 20px;
    
    }
     /* #7 */
    .ATPlanes {
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        flex-wrap: wrap; 
        text-decoration: whitesmoke;
        border: 0px;
        margin-top: 20px;
        padding: 0px;
    }
        
    .ATPlanes > div {
        text-align: center; 
        width: 30%; 
        margin: 10px; 
    }

     /* #8 */
    .BPBlack{
        color: whitesmoke;
        background-color: rgb(147, 219, 147);
        border-radius: 5px;
        border-color: black;
        border-width: 8px;
        text-align: Center;
        padding: 5px;
        font-size: 120%;
    }
    .BPFlex{
        color: whitesmoke;
        background-color: rgb(96, 142, 240);
        border-radius: 5px;
        border-color: black;
        border-width: 8px;
        text-align: center;
        padding: 5px;
        font-size: 120%
    } 
    .BPSelect{
        color: whitesmoke;
        background-color: rgb(230, 156, 230);
        border-radius: 5px;
        border-color: black;
        border-width: 8px;
        text-align: center;
        padding: 5px;
        font-size: 120%
    } 
    /* #9 */
    .textoPlanesPrepaga {
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 1px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 80%;
        animation: aparecer 3s forwards;
        border: 0px;
        padding: 0%;
        margin: 0%;
}

/*Atencion Domicilio */
/* #10 */
.AT4 {
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: top;
    text-justify: auto;
    text-decoration: whitesmoke;
    text-decoration: underline;
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
    opacity: 0;
    color: hsla(0, 25%, 92%, 0.9);
    text-shadow: 2px 2px 5px blueviolet;
    -webkit-text-stroke-color: 1px;
    -webkit-text-stroke-color: black;
    font: "Ubuntu", sans-serif;
    font-size: 80%;
    animation: aparecer 3s forwards;
    background-image: url(../img/Domicilio1.jpg);
    background-size: 55%; 
    background-position: center; 
    height: 350px;
}

/* #11 */
.TextoDomi{
display: flex;
text-align: center;
opacity: 0;
color: hsla(0, 25%, 92%, 0.9);
text-shadow: 2px 2px 5px blueviolet;
-webkit-text-stroke-color: 1px;
-webkit-text-stroke-color: black;
font: "Ubuntu", sans-serif;
font-size: 100%;
animation: aparecer 3s forwards;
border: 0px;
padding: 0%;
margin-top: 20px;
}
    /*Atencion Peluqueria */

    /* #12 */

    .AT2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        text-decoration: whitesmoke;
        background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
        padding: auto;
        margin-top: 0%;
        padding: 0%;
        border: 0px;
    
        color: white;
       
        }
     /* #13 */
    .textoPel {
       
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 1px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 100%;
        animation: aparecer 3s forwards;
        border: 0px;
        padding: 15px;
        }
         /* #14 */
        .preciosPeluqueria {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 90%;
            }
         /* #15 */
        .textoPreciosPeluqueria {
        margin: 20px;
        width: 40%;
        display: flex; 
        flex-direction: column;
        align-items: center; 
         }
        
        .textoPreciosPeluqueria img {
        width: 60%;
        height: auto;
         }
           /* #16 */  
        .textoCortes {
        font-size: 1.2em;
        }
        /*Atencion Guarderia */
        
           /* #17 */  
        .AT3 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            text-decoration: whitesmoke;
            background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(22,147,165,1) 59%, rgba(0,212,255,1) 100%);
            padding: auto;
            margin-top: 0%;
            padding: 0%;
            border: 0px;
            color: white;
            text-align: center;
        }
             /* #18 */    
        .contenedorGuarderia {
        max-width: 800px; 
        text-align: center;
                   
        }
            /* #19 */ 
        .textoGuarderia {
        text-align: center;
        opacity: 0;
        color: hsla(0, 25%, 92%, 0.9);
        text-shadow: 2px 2px 5px blueviolet;
        -webkit-text-stroke-color: 1px;
        -webkit-text-stroke-color: black;
        font: "Ubuntu", sans-serif;
        font-size: 100%;
        animation: aparecer 3s forwards;
        border: 0px;
        padding: 15px;
        }

        
          /* #20 */      
        .textoGuarderia2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        padding: 20px; 
       
                   
        }
        /* #21 */          
        .textoGuarderia2 ul {
        list-style: circle; 
        margin: 0;
        text-align: left;
        }
        /* #22 */       
        .textoGuarderia2 button {
        margin-top: 20px;        
        }
         /* #23 */         
        .imagenGuarderia{             
        max-width: 70%; 
        max-height: auto;        
        }
        /* #24 */   
        .boton {
        display: block;
        background-color: #4CAF50;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1em;
       
        }

/*seccion notimascotas*/
#principal-noti{
   
    background-image: linear-gradient(to bottom,  rgba(2,0,36,1), #1693A5);
}
.container a:hover{
    background-color: #1693A5;
   }
.container a:active{
       background-color: #1693A5;
      }

.container{
    background-color: #1693A5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden; 
    }
    .item{
        background: linear-gradient(174deg, rgb(1, 97, 114) 30%, rgba(22,147,165,1) 69%, rgba(0,212,255,1) 90%);
        text-align: left;
        border-radius: 20%;
        padding: 3%;
        border: 2px solid white;
        width: 35%;
        height: 250px;
        margin-bottom: 5%;
        color:white;
        font-weight: 600;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
    }
    .item a{
      background-color:white;
      font-size: 130%;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }

.imagennoti {
        width:240px;
        padding-bottom: 3%;
        padding-top: 5%;
        float: left; 
        margin-right: 20px; 
        max-width: 100%; 
        height: 180px;
        opacity: 0.8;
    }
    
.notis{
    background: linear-gradient( to bottom, #1693A5 100%, rgb(4, 198, 236) 0%);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 120%;
    color:rgb(255, 255, 255);
    font-weight: 600;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.notis p{
    font-size: 18px;
    padding-top: 2%;
}
.notis ul{
    font-size: 18px;
    padding-top: 2%;
}
.notis h3{
    padding-top: 3%;
}

.imagencentrada {
    width: 600px;
    padding-bottom: 3%;
    padding-top: 5%;
    float: left; 
    margin-right: 20px; 
    max-width: 100%; 
    height: auto;
    opacity: 0.8;
}
